<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995697513408-9ol7vv33uomdrvv3a984ads51o6dpsp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995697513408-9ol7vv33uomdrvv3a984ads51o6dpsp2</string>
	<key>API_KEY</key>
	<string>AIzaSyAU0m5YZJ5fQAxfHqV4DFbWQ0XFI9c0wiU</string>
	<key>GCM_SENDER_ID</key>
	<string>995697513408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-e82aa</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-e82aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995697513408:ios:8882fa9d16204f7c946e25</string>
</dict>
</plist>